.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__k7Qik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#000000a1, #000000a1),
    url("/plasmic/classy_agency_website/images/pexelsMatej774548Jpg.jpg") left 50% top 50% / cover repeat;
  height: auto;
  align-self: center;
  margin-bottom: -17px;
  min-width: 0;
  padding: 1px 32px 300px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k7Qik {
    padding: 6px 20px 85px;
  }
}
.freeBox___9EHwJ {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 26px 16px 16px;
}
.freeBox___9EHwJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___9EHwJ > :global(.__wab_flex-container) > *,
.freeBox___9EHwJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9EHwJ > :global(.__wab_flex-container) > picture > img,
.freeBox___9EHwJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9EHwJ {
    width: 100%;
    min-width: 0;
    padding: 15px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9EHwJ > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__wqRyI {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__wqRyI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wqRyI > :global(.__wab_flex-container) > *,
.freeBox__wqRyI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wqRyI > :global(.__wab_flex-container) > picture > img,
.freeBox__wqRyI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqRyI {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqRyI > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqRyI > :global(.__wab_flex-container) > *,
  .freeBox__wqRyI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wqRyI > :global(.__wab_flex-container) > picture > img,
  .freeBox__wqRyI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__qkVcB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.img__h7Xda {
  object-fit: cover;
  width: 96px;
}
.img__h7Xda > picture > img {
  object-fit: cover;
}
.freeBox__jOobz {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 27px;
}
.freeBox__jOobz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jOobz > :global(.__wab_flex-container) > *,
.freeBox__jOobz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jOobz > :global(.__wab_flex-container) > picture > img,
.freeBox__jOobz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jOobz > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jOobz > :global(.__wab_flex-container) > *,
  .freeBox__jOobz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jOobz > :global(.__wab_flex-container) > picture > img,
  .freeBox__jOobz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__mJeFz {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__mJeFz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mJeFz > :global(.__wab_flex-container) > *,
.link__mJeFz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mJeFz > :global(.__wab_flex-container) > picture > img,
.link__mJeFz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mJeFz {
    padding: 10px 6px;
  }
}
.svg___46Nip {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__n9Rdj {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg__mi7Mv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__vs0C {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__vs0C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__vs0C > :global(.__wab_flex-container) > *,
.link__vs0C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__vs0C > :global(.__wab_flex-container) > picture > img,
.link__vs0C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vs0C {
    padding: var(--token-aZ8kGd4B6x9M);
  }
}
.svg___6NLzj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__rt8VZ {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg__iWd4X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___1Muek {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___1Muek > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___1Muek > :global(.__wab_flex-container) > *,
.link___1Muek > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___1Muek > :global(.__wab_flex-container) > picture > img,
.link___1Muek
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___1Muek {
    padding: var(--token-aZ8kGd4B6x9M);
  }
}
.svg__iMLr1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__visu {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg__sed1Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__uka2L {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__uka2L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__uka2L > :global(.__wab_flex-container) > *,
.link__uka2L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__uka2L > :global(.__wab_flex-container) > picture > img,
.link__uka2L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__uka2L {
    padding: var(--token-aZ8kGd4B6x9M);
  }
}
.svg__iVmQ3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__c7QsT {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg___9Dtl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__dzlXc {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__dzlXc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__dzlXc > :global(.__wab_flex-container) > *,
.link__dzlXc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__dzlXc > :global(.__wab_flex-container) > picture > img,
.link__dzlXc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__dzlXc {
    padding: var(--token-aZ8kGd4B6x9M);
  }
}
.svg__k2Ih6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__skWAk {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg__isPgT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__bDdAz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__dEht2 {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__mPjM4 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__mPjM4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mPjM4 > :global(.__wab_flex-container) > *,
.link__mPjM4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mPjM4 > :global(.__wab_flex-container) > picture > img,
.link__mPjM4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__q7XlJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__pzwx0 {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__zwh23 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: auto;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground2 {
    padding-top: 17px;
  }
}
.freeBox__cCBdU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 689px;
  height: auto;
  max-width: 100%;
  margin-top: calc(168px + 32px) !important;
  background: none;
  padding: 30px;
  border: 1px solid #cccccc57;
}
.freeBox__cCBdU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__cCBdU > :global(.__wab_flex-container) > *,
.freeBox__cCBdU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cCBdU > :global(.__wab_flex-container) > picture > img,
.freeBox__cCBdU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cCBdU {
    margin-top: calc(25px + 32px) !important;
    padding: 20px;
  }
}
.h1 {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    padding-top: 0px;
    font-size: 28px;
    padding-bottom: 4px;
  }
}
.span {
  color: var(--token-hcs9itzE2030);
}
.text__bedOw {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-hcs9itzE2030);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  margin-top: calc(0px + 20px) !important;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bedOw {
    font-size: 16px;
    margin-top: calc(0px + 20px) !important;
  }
}
.freeBox__v7T6X {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 100%;
  bottom: auto;
  min-width: 0;
  padding: 161px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v7T6X {
    margin-top: calc(0px + 32px) !important;
    padding-top: 86px;
  }
}
.svg__ilkhx {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
  width: 50px;
  flex-shrink: 0;
}
.freeBox__x541 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 68px 8px 17px;
}
.freeBox__svJ1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 34px;
}
.freeBox__xQjz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__agteY {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-hcs9itzE2030);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2___5CI79 {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  min-width: 0;
  padding: 7px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___5CI79 {
    font-size: 28px;
  }
}
.section__vu2My {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 37px 0px 58px;
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__hAxp4 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__hAxp4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hAxp4 > :global(.__wab_flex-container) > *,
.freeBox__hAxp4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hAxp4 > :global(.__wab_flex-container) > picture > img,
.freeBox__hAxp4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__z2YC {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__z2YC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__z2YC > :global(.__wab_flex-container) > *,
.freeBox__z2YC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z2YC > :global(.__wab_flex-container) > picture > img,
.freeBox__z2YC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z2YC > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z2YC > :global(.__wab_flex-container) > *,
  .freeBox__z2YC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__z2YC > :global(.__wab_flex-container) > picture > img,
  .freeBox__z2YC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 30px;
  }
}
.freeBox__sSqAo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__sSqAo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__sSqAo > :global(.__wab_flex-container) > *,
.freeBox__sSqAo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sSqAo > :global(.__wab_flex-container) > picture > img,
.freeBox__sSqAo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 12px;
}
.freeBox__pw4U8 {
  background: var(--token-hcs9itzE2030);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.svg__bkDsp {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__i3BDi {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__koRbz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__pdGug {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pdGug > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__pdGug > :global(.__wab_flex-container) > *,
.freeBox__pdGug > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pdGug > :global(.__wab_flex-container) > picture > img,
.freeBox__pdGug
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__s0Osf {
  margin-top: calc(0px + 4px) !important;
  text-align: center;
}
.text__tRo7K {
  padding-top: 0px;
  text-align: center;
}
.freeBox__uezop {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__uezop > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__uezop > :global(.__wab_flex-container) > *,
.freeBox__uezop > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uezop > :global(.__wab_flex-container) > picture > img,
.freeBox__uezop
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uezop > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uezop > :global(.__wab_flex-container) > *,
  .freeBox__uezop > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uezop > :global(.__wab_flex-container) > picture > img,
  .freeBox__uezop
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.freeBox___35L5P {
  background: var(--token-hcs9itzE2030);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.svg__af1G7 {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__h5A40 {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__lzzXn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__kOlGa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kOlGa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__kOlGa > :global(.__wab_flex-container) > *,
.freeBox__kOlGa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kOlGa > :global(.__wab_flex-container) > picture > img,
.freeBox__kOlGa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__kMIrs {
  text-align: center;
}
.text__m12Ba {
  padding-top: 0px;
  text-align: center;
}
.freeBox__iz9Ia {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__iz9Ia > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__iz9Ia > :global(.__wab_flex-container) > *,
.freeBox__iz9Ia > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iz9Ia > :global(.__wab_flex-container) > picture > img,
.freeBox__iz9Ia
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 12px;
}
.freeBox__vSMzY {
  background: var(--token-hcs9itzE2030);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.svg__jcY8O {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__v0OOu {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__kDuqk {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__nVyOb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nVyOb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nVyOb > :global(.__wab_flex-container) > *,
.freeBox__nVyOb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nVyOb > :global(.__wab_flex-container) > picture > img,
.freeBox__nVyOb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__bHb66 {
  text-align: center;
}
.text__hCkEt {
  padding-top: 0px;
  text-align: center;
}
.freeBox__tzNhD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#000000e8, #000000e8),
    url("/plasmic/classy_agency_website/images/pexelsSolomanSoh1492232Jpg.jpg") top 50% left 50% / cover repeat fixed;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 0px 8px 30px;
}
.freeBox__j2Hwk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 34px;
}
.freeBox__tnkfe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 74px 8px 8px;
}
.text__q7O49 {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-hcs9itzE2030);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__wCfn4 {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  color: var(--token-xHUd3HKe401Q);
  min-width: 0;
  padding: 0px;
}
.section__kPfJw {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 37px 0px 58px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__kPfJw {
    flex-wrap: wrap;
    align-items: unset;
    padding-top: 0px;
    padding-bottom: 26px;
  }
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__mePvV {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__mePvV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__mePvV > :global(.__wab_flex-container) > *,
.freeBox__mePvV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mePvV > :global(.__wab_flex-container) > picture > img,
.freeBox__mePvV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__bEyM6 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bEyM6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__bEyM6 > :global(.__wab_flex-container) > *,
.freeBox__bEyM6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bEyM6 > :global(.__wab_flex-container) > picture > img,
.freeBox__bEyM6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bEyM6 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__w79ZT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__w79ZT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__w79ZT > :global(.__wab_flex-container) > *,
.freeBox__w79ZT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w79ZT > :global(.__wab_flex-container) > picture > img,
.freeBox__w79ZT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 0px;
}
.freeBox___9ExL2 {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.img___0U5Hq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___0U5Hq > picture > img {
  object-fit: cover;
}
.freeBox__buQeY {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg___4RbS {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__uT13K {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--token-xHUd3HKe401Q);
  padding: 30px 15px;
  border-bottom: 5px solid var(--token-hcs9itzE2030);
}
.freeBox__uT13K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__uT13K > :global(.__wab_flex-container) > *,
.freeBox__uT13K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uT13K > :global(.__wab_flex-container) > picture > img,
.freeBox__uT13K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h3__kwEc9 {
  margin-top: calc(0px + 10px) !important;
  padding-top: 0px;
  color: var(--token-hcs9itzE2030);
}
.text__frYwr {
  padding-top: 0px;
  margin-bottom: 0px;
}
.freeBox__pL2Ay {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  margin-top: calc(14px + 10px) !important;
  padding: 0px;
}
.button__yhqAl:global(.__wab_instance) {
  max-width: none;
}
.svg__vsIeD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wPQu {
  text-transform: uppercase;
  color: var(--token-xHUd3HKe401Q);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.svg__vdclF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__sUbHh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__sUbHh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__sUbHh > :global(.__wab_flex-container) > *,
.freeBox__sUbHh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sUbHh > :global(.__wab_flex-container) > picture > img,
.freeBox__sUbHh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sUbHh {
    padding-top: 38px;
  }
}
.freeBox__qZeja {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.img___38MgL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___38MgL > picture > img {
  object-fit: cover;
}
.freeBox__nWcE {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg___6TnOs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__nfhiw {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--token-xHUd3HKe401Q);
  padding: 30px 15px;
  border-bottom: 5px solid var(--token-hcs9itzE2030);
}
.freeBox__nfhiw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__nfhiw > :global(.__wab_flex-container) > *,
.freeBox__nfhiw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nfhiw > :global(.__wab_flex-container) > picture > img,
.freeBox__nfhiw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h3__nVnit {
  margin-top: calc(0px + 10px) !important;
  color: var(--token-hcs9itzE2030);
}
.text__rfHgM {
  padding-top: 0px;
  margin-bottom: 0px;
}
.freeBox__qLx9L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  margin-top: calc(14px + 10px) !important;
  padding: 0px;
}
.button__c0Ccq:global(.__wab_instance) {
  max-width: none;
}
.svg__kn4Dw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tuCv {
  text-transform: uppercase;
  color: var(--token-xHUd3HKe401Q);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.svg__x02K3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__seg9L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 8px;
}
.freeBox__qwVjy {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 56px 128px 66px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qwVjy {
    width: 100%;
    min-width: 0;
    padding: 47px 20px 55px;
  }
}
.text__k2ThN {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-hcs9itzE2030);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__j4TMu {
  max-width: none;
  width: 100%;
  background: none;
  margin-top: 0px;
  margin-bottom: 34px;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__j4TMu {
    font-size: 25px;
  }
}
.freeBox__dsc1A {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1080px;
  flex-direction: row;
}
.freeBox__dsc1A > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__dsc1A > :global(.__wab_flex-container) > *,
.freeBox__dsc1A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dsc1A > :global(.__wab_flex-container) > picture > img,
.freeBox__dsc1A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__dVpVu {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__dVpVu > picture > img {
  object-fit: cover;
}
.img__boaqL {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__boaqL > picture > img {
  object-fit: cover;
}
.img__mR7VK {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__mR7VK > picture > img {
  object-fit: cover;
}
.img___7FWm {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___7FWm > picture > img {
  object-fit: cover;
}
.freeBox__mpGc5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 472px;
  margin-top: 49px;
  background: var(--token-xHUd3HKe401Q);
  min-width: 0;
  padding: 30px;
  border-bottom: 6px solid var(--token-hcs9itzE2030);
}
.freeBox__mpGc5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__mpGc5 > :global(.__wab_flex-container) > *,
.freeBox__mpGc5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mpGc5 > :global(.__wab_flex-container) > picture > img,
.freeBox__mpGc5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.img__eVvaL {
  position: relative;
  left: auto;
  top: auto;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  border-radius: 50%;
}
.text__q9ZcX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 464px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  margin-top: calc(9px + 3px) !important;
  color: #535353ba;
  min-width: 0;
}
.text__tfWxJ {
  position: relative;
  font-size: 16px;
  color: #8e8e93;
  margin-top: calc(14px + 3px) !important;
  padding-bottom: 0px;
}
.text___3Knnl {
  position: relative;
  font-size: 16px;
  color: #000000;
  margin-top: calc(0px + 3px) !important;
  font-family: "Roboto", sans-serif;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.freeBox___73XfJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 0px;
}
.freeBox__e3Az8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: linear-gradient(#000000d1, #000000d1),
    url("/plasmic/classy_agency_website/images/pexelsScottWebb2346594Jpg.jpg") top 50% left 50% / cover no-repeat;
  min-width: 0;
  padding: 85px 64px 91px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e3Az8 {
    padding: 45px 30px 53px;
  }
}
.freeBox__nVeD {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__nVeD > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__nVeD > :global(.__wab_flex-container) > *,
.freeBox__nVeD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nVeD > :global(.__wab_flex-container) > picture > img,
.freeBox__nVeD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nVeD {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nVeD > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nVeD > :global(.__wab_flex-container) > *,
  .freeBox__nVeD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nVeD > :global(.__wab_flex-container) > picture > img,
  .freeBox__nVeD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox___4ELuQ {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox___4ELuQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___4ELuQ > :global(.__wab_flex-container) > *,
.freeBox___4ELuQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4ELuQ > :global(.__wab_flex-container) > picture > img,
.freeBox___4ELuQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__lqQoN {
  object-fit: cover;
  width: 66px;
  position: relative;
}
.img__lqQoN > picture > img {
  object-fit: cover;
}
.freeBox__sWxvX {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sWxvX > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sWxvX > :global(.__wab_flex-container) > *,
.freeBox__sWxvX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sWxvX > :global(.__wab_flex-container) > picture > img,
.freeBox__sWxvX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__z5Yrl {
  color: #ffffff;
}
.freeBox__bVNm {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bVNm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bVNm > :global(.__wab_flex-container) > *,
.freeBox__bVNm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bVNm > :global(.__wab_flex-container) > picture > img,
.freeBox__bVNm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__jPctJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-xHUd3HKe401Q);
  flex-shrink: 0;
}
.svg__tDvWd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-xHUd3HKe401Q);
  flex-shrink: 0;
}
.svg__d46Vi {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-xHUd3HKe401Q);
  flex-shrink: 0;
}
.freeBox__uywj {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__uywj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uywj > :global(.__wab_flex-container) > *,
.freeBox__uywj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uywj > :global(.__wab_flex-container) > picture > img,
.freeBox__uywj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__p8Fp {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  padding-left: 0px;
  color: var(--token-xHUd3HKe401Q);
}
.link__ll3VY {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__ll3VY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ll3VY > :global(.__wab_flex-container) > *,
.link__ll3VY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ll3VY > :global(.__wab_flex-container) > picture > img,
.link__ll3VY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__lNjAu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___15Ryz {
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.svg___4MgnZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___47IdG {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___47IdG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___47IdG > :global(.__wab_flex-container) > *,
.link___47IdG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___47IdG > :global(.__wab_flex-container) > picture > img,
.link___47IdG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ckVuA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nEbfX {
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.svg__ggtly {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__vIwZa {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__vIwZa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__vIwZa > :global(.__wab_flex-container) > *,
.link__vIwZa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__vIwZa > :global(.__wab_flex-container) > picture > img,
.link__vIwZa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__eEefD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__m5Qkt {
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.svg__dIqTd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__hIEty {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__hIEty > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hIEty > :global(.__wab_flex-container) > *,
.freeBox__hIEty > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hIEty > :global(.__wab_flex-container) > picture > img,
.freeBox__hIEty
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__bLnVs {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.link__kta6I {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__kta6I > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__kta6I > :global(.__wab_flex-container) > *,
.link__kta6I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kta6I > :global(.__wab_flex-container) > picture > img,
.link__kta6I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__gjado {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___1OR4B {
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.svg__tcEr7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__hd5Vy {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__hd5Vy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__hd5Vy > :global(.__wab_flex-container) > *,
.link__hd5Vy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__hd5Vy > :global(.__wab_flex-container) > picture > img,
.link__hd5Vy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__qhZD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__efLYt {
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.svg__svElr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__aXow {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__aXow > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__aXow > :global(.__wab_flex-container) > *,
.link__aXow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__aXow > :global(.__wab_flex-container) > picture > img,
.link__aXow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___0Ouwa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__uVuae {
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.svg__lgu2I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__l349L {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__l349L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__l349L > :global(.__wab_flex-container) > *,
.link__l349L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__l349L > :global(.__wab_flex-container) > picture > img,
.link__l349L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__fcFUb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___3Jug3 {
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.svg__uOKce {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__sJfFp {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__sJfFp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sJfFp > :global(.__wab_flex-container) > *,
.freeBox__sJfFp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sJfFp > :global(.__wab_flex-container) > picture > img,
.freeBox__sJfFp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__ckMHg {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.text__tdwin {
  position: relative;
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.text__c14JE {
  position: relative;
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.text__d4UjD {
  position: relative;
  height: auto;
  color: var(--token-xHUd3HKe401Q);
}
.text__ude19 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-xHUd3HKe401Q);
  text-align: center;
  margin-top: 45px;
  min-width: 0;
}
